.env
node_modules/
summaries/*.txt
coachartiegithub.2023-05-02.private-key.pem

/cache/*
/capabilities/cache/*
*.log
artie.log
artie.log
capabilities/cache/*.json
/cache/*.json

auth/coach-artie-5f8c6debae41.json
auth/coach-artie-e95c8660132f.json
auth/coach-artie-*.json

.idea
